div#register
	button#police Register als Polizist
	button#robber Register als Räuber
div#position
	button#send-position Position senden
div#arrest
	button#arrest Verhaften
div#arrest
	button#state Status
div#reset
	button#reset Reset
div#map
div#input
	input#message(placeholder="enter your message")
	button#send Send
div#scroll-container
	section#messages
div#messages

block scripts
	script(src="/javascripts/mobile/bootstrap.js")